/*=================================
	Globale egenskaper for siden
=================================*/
*, body {
	margin: 0;
	padding: 0;
	background-color: #fdfef8;
	font-family: 'Source Sans Pro', sans-serif;
}

/*=================================
	Container som fyller siden
=================================*/
.container {
	position: relative;
	width: 100%;
	top: 53px;
	z-index: 0.8;
}

/*=================================
	Wrapper som sentrerer innhold
=================================*/
.wrapper {
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%);
			transform: translate(-50%);
}

/*=================================
	Boks med egenskaper som på westerdals.no
=================================*/
.westerdalsBoks {
	width: 412px;
	height: 356px;
	background-color: #fdfef8;
	border: 3px solid #000;
	-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;		
}

.westerdalsBoks:hover {
	border: 3px solid #f1f2eb;
	background-color: #f1f2eb;
}