login {
    background-color: #ffd76c;
    
}


#loginFelt {
    position: absolute;
    margin: 200px 100px 500px 500px;
    background-color: #ffd76c;
    border: 1px solid black;
    color: white;
    font-family: Helvetica, sans-serif;
    width: 824px;
    height: 356px;
    text-align: center;
    padding: 25px 25px 25px 25px;
    color: black;
}



h1 {
    font-size: 5em;
    font-weight: bold;
    color: #ff5b59;
    margin-left: 25%;
    margin-bottom: 5%;
    background-color: #ffd76c;
    
}

input {
    border: 5px solid white;
    box-shadow: 
      inset 0 0 8px  rgba(0,1,0,0.1);
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,1,0,0.1);
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,1,0,0.1);
    padding: 5px 20px 5px 5px;
    
    
}

label {
    text-indent: 10px;
    color: black;
    background-color: #ffd76c;
}

#innlogging {
    text-align: left;
    background-color: #ffd76c;
}

#send {
    width: 400px;
    height: 140px;
    background-color: #ff5b59;
    opacity: 1;
    margin-top: -180px;
    margin-left: 50%;
    color: white;
    font-size: 3em;
    opacity: 1;
    transition-property: opacity, background-color;
    -moz-transition-property: opacity, background-color;
    -webkit-transition-property: opacity, background-color;
    
}

form {
    background-color: #ffd76c;
}

#send:hover {
    opacity: 0.5;
    background-color: #7EC59D;
}

#skoleMail {
     margin-top: 30px;
    margin-left: 48px;
}

#passord {
    margin-left: 90px;
}