/*Stilark for siden personerOgProsjektor.php*/
.navBar {
    margin-top: -147px;
}

.wrapperToBokser {
    margin-left: 25%;
    margin-top: 100px;
}

/*CSS for beskrivelsesboksen. */

#beskrivelse {
    float: left;
    border: 3px solid black;
    margin-right: 2%;
}

/*CSS for overskriften i beskrivelsesboksen. */
#beskrivelse h1 {
    margin-top: 5%;
    font-size: 2.4em;
    text-align: center;
     transition-property: all;
    -webkit-transition-property: all 0.3s ease;
    -moz-transition-property: all 0.3s ease;
}

/*CSS for paragrafene i beskrivelsesboksen. */
#beskrivelse p {
    margin-top: 5%;
    font-size: 1.8em;
    text-align: center;
    transition-property: all;
    -webkit-transition-property: all 0.3s ease;
    -moz-transition-property: all 0.3s ease;
}


/*Både h1 og p i beskrivelsesboksen trenger samme transition-property funskjoner for å kunne endre elementer ved hover.*/
h1.westerdalsBoks, p.westerdalsBoks {
    transition-property: all;
    -webkit-transition-property: all 0s ease;
    -moz-transition-property: all 0s ease;
}

/*Ved hover på hele beskrivelseboksen endres p elementene sin bakgrunnsfarge. */
#beskrivelse:hover > p {
    background-color: #f1f2eb;
}

/*Ved hover på hele beskrivelseboksen endres h1 elementet sin bakgrunnsfarge. */
#beskrivelse:hover > h1 {
    background-color: #f1f2eb;
}

/* Gir hele formen lik bakgrunnsfarge*/
form  {
    background-color: #2ad2a8;
}


/*CSS for boksen med alternativene for formen som skal sendes inn.*/
#personerOgProsjektor {
    float: left;
    background-color: #2ad2a8;
    border: 3px solid #2ad2a8;
    font-size: 1.2em;
    font-weight: 900;
    color: white;
    opacity: 1;
    transition-property: all 0.3s ease;
    -webkit-transition-property: all 0.3s ease;
    -moz-transition-property: all 0.3s ease;
}

/* Input-tagene styles */
.valgAntall, .valgProsjektor {
    font-size: 1em;
    background-color: #2ad2a8;
    margin-left: 5%;
    margin-top: 5%;
}

/* Label tagene styles. */
label {
    background-color: #2ad2a8;
    font-size: 2em;
    text-align: center;
}

#personerOgProsjektor input [type=radio] {
    background-color: #2ad2a8;
}

/* Submit-tagen får definert default utseende. */
#velger {
    font-size: 1.7em;
    margin-top: 30px;
    background-color: #00b7f0;
    border-radius: 5px;
    border: 2px solid black;
    font-weight: 200;
    transition-property: all ease 0.3s;
    -webkit-transition-property: all ease 0.3s;
    -moz-transition-property: all ease 0.3s;
    
}

/* Submit tagen får definert hover-endringer som tydeliggjør at den fungerer som en knapp. */
#velger:hover, #videre:hover {
    border: 3px solid black;
    font-weight: 600;
    background-color: #ff5b59;
    cursor: pointer;
}

/* Søk og videre knappen får definert default utseende. */
#videre {
    width: 20%;
    position: fixed;
    left: 40%;
    margin-top: 500px;
    padding: 1% 1% 1% 1%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
    font-size: 4em;
    font-weight: 300;
    background-color: #00b7f0;
    transition-property: all ease 0.3s;
    -webkit-transition-property: all ease 0.3s;
    -moz-transition-property: all ease 0.3s;
}

