body {
background-color: rgb(255, 255, 255);
height: 200%;
background: url(../img/bakgrunn.png) no-repeat center center fixed;
-webkit-background-size: cover;
		background-size: cover;
background-color: #fdfdf8;
}
.dude {
	padding-top: 10%;
	background-color: rgba(0, 0, 0, 0.8);
	padding-bottom: 60%;
	max-height: 100%;
	position: relative;
}

.minwidth {
	max-width: 
}

.noe {
	height: 600px;
	width: 600px;
}

.h1Midtstilt {
	text-align: center;
	color: rgb(60, 60, 60);
}

.midtstill {
	margin-left: 10%;
    margin-right: auto;
    width: 90%;
}

.danger {
	background-color: #fd7265 !important;
}

.success {
	background-color: #2ad2a8 !important;
}

th {

}

td.success:hover {
	border-radius: 5px;
	background: url(../img/plus.png) no-repeat right;
}


.nr11 {
	float: left;
	background-color: #ffd76c;
	height: 200px;
	width: 220px;
}
.nr12 {
	float: left;
	background-color: #ff5b59;
	height: 200px;
	width: 220px;
}

.nr13 {
	float: left;
	background-color: #00b7f0;
	height: 200px;
	width: 220px;
}

.nr21 {
	float: left;
	background-color: #2ad2a8;
	height: 200px;
	width: 220px;
}

.nr22 {
	float: left;
	background-color: #8b4a81;
	height: 18%;
	width: 18%;
}

.nr11:hover {
	zoom: 1.1;
}
.nr12:hover {
}

.nr13:hover {
}

.nr21:hover {
}

.nr22:hover {

}





